<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd"
	default-lazy-init="false">
	
	<!-- beans -->
	<import resource="classpath:conf/spring/spring-beans.xml"/>
	<!-- 访问数据库配置 -->
	<!-- <import resource="classpath:conf/spring/spring-ds.xml"/> -->
	<!-- <import resource="classpath:conf/spring/spring-tx.xml"/> -->
	<!-- MQ -->
	<!-- <import resource="classpath:conf/spring/spring-mq.xml"/> -->
	
	<context:component-scan base-package="com.saic.ebiz" />
	
	<!-- 文件服务器功能实现 -->
	<bean id="httpFileServer" class="com.saic.ebiz.http2.HttpFileServer" init-method="start" destroy-method="stop" scope="singleton">
		<property name="connectionTimeout" value="10000" />
		<property name="port" value="80" />
		<property name="maxMessagesPer" value="100" />
		<!-- <property name="localDir" value="d:/" /> -->
		<!-- <property name="localDir" value="C:\\" /> -->
		<property name="localDir" value="/home/deploy/deploy/logs/" />
	</bean>
	
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean> -->
	<context:property-placeholder location="classpath:config.properties" />
	
	<!-- <bean id="gprsServerBootstrap" class="com.saic.ebiz.vbox.GprsServerBootstrap" init-method="start" destroy-method="stop" scope="singleton">
		<property name="connectionTimeout" value="${ebiz.liteplus.netty.connectionTimeout}" />
		<property name="port" value="${ebiz.liteplus.netty.port}" />
	</bean> -->		
	
	<bean id="mongoDBUtil" class="com.saic.ebiz.vbox.utils.MongoDBUtil" init-method="init" scope="singleton">
		<property name="defaultDbName" value="${ebiz.liteplus.mongodb.dbName}"/>
		<property name="defaultCollName" value="${ebiz.liteplus.mongodb.defaultCollName}"/>
		<property name="mongoServerUrl" value="${ebiz.liteplus.mongodb.replicationSet}"/>
		<property name="connectionPerHost" value="${ebiz.liteplus.mongodb.connectionPerHost}"/>
		<property name="connectionMultiplier" value="${ebiz.liteplus.mongodb.threadsAllowedToBlockForConnectionMultiplier}"/>
		<property name="socketTimeout" value="${ebiz.liteplus.mongodb.socketTimeout}"/>
		<property name="maxWaitTime" value="${ebiz.liteplus.mongodb.maxWaitTime}"/>
		<property name="connectionTimeout" value="${ebiz.liteplus.mongodb.connectionTimeout}"/>
	</bean>	
		
</beans>
